<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= @page_description %>"/>
  <meta name="keywords" content="陕西奕诚生物科技有限公司,奕诚生物,奕诚,镇安,栗乡,板栗"/>
  <meta name="baidu-site-verification" content="skFs5poOU4" />

  <title><%= @page_title %></title>

  <link href="<%= url('/css/styles.css') %>" rel="stylesheet">
  <link href="<%= url('/css/main.css') %>" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="<%= url('/javascripts/angular.js') %>"></script>
</head>
<body ng-app ng-init="
  indexPage = 'index' == '<%= @page_name %>';
  informationPage = 'information' == '<%= @page_name %>';
  projectsPage = 'projects' == '<%= @page_name %>';
  productsPage = 'products' == '<%= @page_name %>';
  " ng-class="{'company-intro': informationPage}">
  <div class="header" ng-class="{'index-header': indexPage}">
    <div class="logo">
      <img src="<%= url('/images/logo-index.png') %>" alt="logo" ng-if="indexPage"/>
      <img src="<%= url('/images/logo.png') %>" alt="logo" ng-if="!indexPage"/>
    </div>
    <div class="navigator">
      <a class="link" ng-class="{active: indexPage}" href="/">首页</a>
      <a class="link" ng-class="{active: informationPage}" href="/information">公司概况</a>
      <a class="link" ng-class="{active: projectsPage}" href="/projects">项目情况</a>
      <!--<a class="link" ng-class="{active: productsPage}" href="/products">产品展示</a>-->
    </div>
  </div>